@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/xlc2tas.css");

html{
  scroll-behavior: smooth;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎺</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* ==========colour variables ========== */
:root {
  --colour-black:#121111;
  --colour-blue:#539FB0;
  --colour-blue-2: #A7CED6;
  --colour-beige:#F9F5EE;
  --colour-grey: #423F3F;
  --colour-light-grey: #66696a;
  --colour-light-bluegrey: #A4BEC2;
}

/* ========== text variables ========== */
:root {
  --h1: 72px;
  --h1-line-height: 72px;
  --h2: 24px;
  --h2-line-height: 28px;
  --h3: 18px;
  --h3-line-height: 22px;
  --h4: 28px;
  --h4-line-height: 32px;
  --h5: 26px;
  --h5-line-height: 20px;
  --blockquote: 24px;
  --blockquote-line-height: 32px;
  --p: 16px;
  --p-line-height: 24px;
  --a: 16px;
  --a-line-height: 20px;
}

/* ========== spacing variables ========== */
:root {
  --spacing: 1em;
}

/* ========== type styling ========== */
h1{
  font-family: "mendl-sans-dawn";
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--colour-blue);
  text-align: center;
}
h2{
  color: var(--colour-grey);
  font-family: "mendl-sans-dusk";
  font-size: var(--h2);
  font-weight: 300;
  line-height: var(--h2-line-height);
}
h3{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--h3);
  font-weight: 400;
  line-height: var(--h3-line-height);
}
h4{
  color: var(--colour-grey);
  font-family: "mendl-sans-dusk";
  font-size: var(--h4);
  font-weight: 300;
  line-height: var(--h4-line-height);
  transition: all 0.1s linear;
}
h4:hover{
  color: var(--colour-blue);
  font-weight: 500;
}
h4:active{
  color: var(--colour-blue);
}
p{
  color: var(--colour-black);
  font-family: "Work Sans";
  font-size: var(--p);
  font-weight: 400;
  line-height: var(--p-line-height);
}
a{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--a);
  font-weight: 400;
  line-height: var(--a-line-height);
  transition: all 0.1s linear;
}
a:hover{
  color: var(--colour-blue);
  font-weight: 600;
}
a:active{
  color: var(--colour-blue);
}
.bold{
  font-weight: 600;
}

/* 🚨 hiding channel title api for the purpose to show styling choices 🚨 */
#channel-title{
    display: none;
}
#channel-description{
    display: none;
}

/* ========== structure styling ========== */
body {
  background-color: var(--colour-beige);
  gap: var(--spacing);
  margin: 20px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ========== nav styling ========== */
nav {
  color: var(--colour-blue);
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
}
/* ========= player styling ========= */
.center-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.new-player {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: scale(67%);
}
.player-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 8px;
}

/* ========= player text ========= */
h5{
  color: var(--colour-blue);
  font-family: "Work Sans";
  font-size: var(--h5);
  font-weight: 400;
  transition: all 0.1s linear;
}
h5:hover{
  font-weight: 600;
}
/* ======== soundwave animation ======== */
.soundwave{
  position: relative;
  width: 495px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--colour-blue);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}
.soundwave::before{
  content: 'aaaaaaaaaaaaaaaaaaaa';
  position: absolute;
  top: -49px;
  left: 0;
  color: transparent;
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: var(--colour-blue);
  text-decoration-line: underline;
  animation: animate 1s linear infinite;
}
@keyframes animate 
{
  0%{
    transform: translateX(-1px);
  }
  100%{
    transform: translateX(-70px);
  }
}
/* =============== block styling =============== */
.container{
  margin-top: 80px;
}
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 80px;
}
li{
  grid-column: 1 / span 4; 
  width: 100%;
  height: 100%;
}
.block{
  display: flex;
  gap: 20px;
  flex-direction: column;
  container: fill;
  filter: drop-shadow(4px 4px 4px rgba(66, 66, 63, 0.3));
  transition: all 0.1s linear;
}
.block:hover{
  transform: scale(1.01);
}
/* ====== link blocks ====== */
.block--link{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== text blocks ====== */
.block--text{
  background-color: var(--colour-blue-2); 
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  transition: all 0.1s linear;
}
.block--text p{
  color: var(--colour-grey);
  font-family: Mendl Sans;
  font-size: var(--blockquote);
  line-height: var(--blockquote-line-height);
  font-weight: 300;
  padding: 20px;
}
.block--text:hover{
  transform: rotate(-2deg);
}
/* ====== image blocks ====== */
.block--image{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all 0.1s linear;
}
.block--image:hover{
  transform: rotate(2deg);
}
.block--image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}
/* ====== pdf blocks ====== */
.block--pdf{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== uploaded audio blocks ====== */
.block--audio{
  background-image: url("assets/audiobg4.png");
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
audio{
  width: 100%;
  height: 78px;
  padding: 12px;
  position: absolute;
}
/* ====== linked video blocks ====== */
.block--videolinked{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.block--videolinked iframe{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}
/* ====== linked audio blocks ====== */
.block--audiolinked{
  background-image: url("assets/audiobg4.png");
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.spotify-player{
  width: 100%;
  padding: 12px;
  position: absolute;
}
/* ====== more info ====== */
.block-curator{
  padding-top: 12px;
  padding-left: 12px;
  grid-column: 1 / span 2; 
  border-left: solid 1px var(--colour-blue); 
  border-top: solid 1px var(--colour-blue);
  width: 200px;
}
button{
  padding-top: 12px;
  padding-left: 12px;
  grid-column: 1 / span 2; 
  border-left: solid 1px var(--colour-blue); 
  border-top: solid 1px var(--colour-blue);
  width: 200px;
  cursor: pointer;
}
/* ========== grayscale/hover styling ========== */
img{
  filter: grayscale(1);
  opacity: 1;
}
img:hover{
  filter: grayscale(0);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
iframe{
  filter: grayscale(1);
  opacity: 1;
}
iframe:hover{
  filter: grayscale(0);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
/* ========== hide channel count ========== */
#channel-count{
  display: none;
}
/* ========== footer ========== */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px var(--colour-blue);
  padding-top: 12px;
  margin-top: 180px;
}
/* ========== grey text class ========== */
.grey-text{
  color: var(--colour-grey);
}

/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* ========== type variables ========== */
  :root {
    --h1: 64px;
    --h1-line-height: 64px;
    --h2: 22px;
    --h2-line-height: 28px;
    --h3: 18px;
    --h3-line-height: 22px;
    --h4: 28px;
    --h4-line-height: 33px;
    --h5: 24px;
    --h5-line-height: 24px;
    --blockquote: 28px;
    --blockquote-line-height: 34px;
    --p: 16px;
    --p-line-height: 24px;
    --a: 16px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 32px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 6px;
  }
  .options{
    padding: 32px;
  }
  /* ========= player styling ========= */
  .center-player {
    margin-top: 75px;
  }
  .new-player {
    transform: scale(75%);
  }
  /* =============== block styling =============== */
  .container{
    margin-top: 140px;
  }
  ul {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 32px;
  }
  li:nth-child(8n + 1){
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 2){
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 3){
    grid-column: 5 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 4){
    grid-column: 3 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 5){
    grid-column: 1 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 6){
    grid-column: 5 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 7){
    grid-column: 1 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 8){
    grid-column: 4 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  /* ====== image blocks ====== */
  .block--image{
    height: 100%;
  }
  /* ====== linked video blocks ====== */
  .block--videolinked{
    height: 100%;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 16px;
    margin-top: 220px;
  }
}

/* ================================== desktop media query ================================== */
@media (min-width: 1024px) {
  /* ========== type variables ========== */
  :root {
    --h1: 80px;
    --h1-line-height: 80px;
    --h2: 28px;
    --h2-line-height: 40px;
    --h3: 20px;
    --h3-line-height: 24px;
    --h4: 36px;
    --h4-line-height: 48px;
    --h5: 24px;
    --h5-line-height: 34px;
    --blockquote: 26px;
    --blockquote-line-height: 32px;
    --p: 20px;
    --p-line-height: 28px;
    --a: 20px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
   /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 8px;
  }
  .options{
    padding: 40px;
  }
 /* ========= player styling ========= */
  .center-player {
    margin-top: 100px;
  }
  .new-player {
    transform: scale(90%);
  }
  /* =============== block styling =============== */
  .container{
    margin-top: 168px;
  }
  ul {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
  }
  li:nth-child(8n + 1){
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 2){
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 3){
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 4){
    grid-column: 5 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 5){
    grid-column: 9 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 6){
    grid-column: 1 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 7){
    grid-column: 9 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  li:nth-child(8n + 8){
    grid-column: 5 / span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  /* ====== text blocks ====== */
  .block--text p{
    padding: 24px;
  }
  /* ====== image blocks ====== */
  .block--image{
    height: 100%;
  }
  /* ====== linked video blocks ====== */
  .block--videolinked{
    height: 100%;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 20px;
    margin-top: 300px;
  }
}