@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
  scroll-behavior: smooth;
}

/* ==========colour variables ========== */
:root {
  --colour-black:#121111;
  --colour-blue:#539FB0;
  --colour-beige:#F9F5EE;
  --colour-grey: #423F3F;
  --colour-light-grey: #66696a;
  --colour-light-bluegrey: #A4BEC2;
}

/* ========== text variables ========== */
:root {
  --h1: 72px;
  --h1-line-height: 72px;
  --h2: 24px;
  --h2-line-height: 28px;
  --h3: 18px;
  --h3-line-height: 22px;
  --h4: 28px;
  --h4-line-height: 32px;
  --blockquote: 24px;
  --blockquote-line-height: 32px;
  --p: 16px;
  --p-line-height: 24px;
  --a: 16px;
  --a-line-height: 20px;
}

/* ========== spacing variables ========== */
:root {
  --spacing: 1em;
}

/* ========== type styling ========== */
h1{
  font-family: "Mendl Sans";
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--colour-blue);
  text-align: center;
}
h2{
  color: var(--colour-grey);
  font-family: "Mendl Sans";
  font-size: var(--h2);
  font-weight: 300;
  line-height: var(--h2-line-height);
}
h3{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--h3);
  font-weight: 400;
  line-height: var(--h3-line-height);
}
h4{
  color: var(--colour-grey);
  font-family: "Mendl Sans";
  font-size: var(--h4);
  font-weight: 300;
  line-height: var(--h4-line-height);
}
h4:hover{
  color: var(--colour-blue);
  font-weight: 500;
  transition: 0.1s;
}
h4:active{
  color: var(--colour-blue);
}
p{
  color: var(--colour-black);
  font-family: "Work Sans";
  font-size: var(--p);
  font-weight: 400;
  line-height: var(--p-line-height);
}
a{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--a);
  font-weight: 400;
  line-height: var(--a-line-height);
}
a:hover{
  color: var(--colour-blue);
  font-weight: 600;
  transition: 0.2s;
}
a:active{
  color: var(--colour-blue);
}
.bold{
  font-weight: 600;
}

/* 🚨 hiding channel title api for the purpose to show styling choices 🚨 */
#channel-title{
    display: none;
}
#channel-description{
    display: none;
}

/* ========== structure styling ========== */
body {
  background-color: var(--colour-beige);
  gap: var(--spacing);
  margin: 20px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ========== nav styling ========== */
nav {
  color: var(--colour-blue);
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
}
/* ========== intro section ========== */
.intro-section{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.intro-image {
  grid-column: 1 / span 4; 
  grid-row: 1;
  max-width: 75vw;
}
.intro-image:hover{
  transform: rotate(-15deg);
  transition: transform 0.5s ease-in-out;
}
.collab-text-position {
  grid-column: 3 / span 4; 
  grid-row: 1;
  z-index: 1; 
}
aside {
	transition: all 3s ease-in-out; 
	will-change: transform; 
  opacity: 0%;
}
aside.highlight { 
  opacity: 100%;
}
#channel-description {
  margin-top: 100px;
  grid-column: 1 / span 4; 
  grid-row: 2;
}
/* ========== archive section ========== */
.archive-section{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  /* border-bottom: solid 1px var(--colour-blue); */
}
.horizontal-line {
  border: solid 0.5px var(--colour-blue);
  width: 40px;
}
.square {
  width: 20px; 
  height: 20px;
  background-color: var(--colour-blue); 
}
.archive-title{
  text-align: center;
}
/* =============== block styling =============== */
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}
li{
  grid-column: 1 / span 4; 
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.block{
  /* background-color: red; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  container: fill;
}
/* ====== link blocks ====== */
.block--link{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== text blocks ====== */
.block--text{
  background-color: var(--colour-light-bluegrey); 
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
.block--text p{
  color: var(--colour-grey);
  font-family: Mendl Sans;
  font-size: var(--blockquote);
  line-height: var(--blockquote-line-height);
  font-weight: 300;
  padding: 20px;
}
/* ====== image blocks ====== */
.block--image{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.block--image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* so the image covers the entire block without being distorted */
  position: absolute;
  top: 0;
  left: 0;
}
/* ====== pdf blocks ====== */
.block--pdf{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== uploaded audio blocks ====== */
.block--audio{
  background-color: red;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== linked video blocks ====== */
.block--videolinked{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.block--videolinked iframe{
  width: 100%;
  height: 100%;
  object-fit: cover; /* so the image covers the entire block without being distorted */
  position: absolute;
  top: 0;
  left: 0;
}
/* ====== linked audio blocks ====== */
.block--audiolinked{
  background-color: red;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  display: block;
}
/* ====== more info ====== */
.block-curator{
  padding-top: 12px;
  padding-left: 12px;
  grid-column: 1 / span 2; 
  border-left: solid 1px var(--colour-blue); 
  border-top: solid 1px var(--colour-blue);
  width: 200px;
}
button{
  padding-top: 12px;
  padding-left: 12px;
  grid-column: 1 / span 2; 
  border-left: solid 1px var(--colour-blue); 
  border-top: solid 1px var(--colour-blue);
  width: 200px;
  cursor: pointer;
}
/* ========== grayscale/hover styling ========== */
img{
  filter: grayscale(1);
  opacity: 0.8;
}
img:hover{
  filter: grayscale(0);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
iframe{
  filter: grayscale(1);
  opacity: 0.8;
}
iframe:hover{
  filter: grayscale(0);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
/* ========== hide channel count ========== */
#channel-count{
  display: none;
}
/* ========== footer ========== */
footer{
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: solid 1px var(--colour-blue);
  padding-top: 12px;
  margin-top: 120px;
}
.grey-text{
  color: var(--colour-grey);
}

/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* ========== type variables ========== */
  :root {
    --h1: 64px;
    --h1-line-height: 64px;
    --h2: 22px;
    --h2-line-height: 28px;
    --h3: 18px;
    --h3-line-height: 22px;
    --h4: 28px;
    --h4-line-height: 33px;
    --blockquote: 28px;
    --blockquote-line-height: 34px;
    --p: 16px;
    --p-line-height: 24px;
    --a: 16px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 32px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 6px;
  }
  .options{
    padding: 32px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 5 / span 4; 
    grid-row: 1 / span 4;
    max-width: 45vw;
  }
  .collab-text-position {
    grid-column: 2 / span 8; 
    grid-row: 4;
    max-width: 62vw;
  }
  #channel-description {
    grid-column: 2 / span 5; 
    grid-row: 4;
  }
  /* ========== archive section ========== */
  .archive-section{
    margin-top: 40px;
    gap: 12px;
    justify-content: right;
  }
  .horizontal-line {
    border: solid 0.5px var(--colour-blue);
    width: 30px;
  }
  /* =============== block styling =============== */
  ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 32px;
    list-style: none;
  }
  li{
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  .block{
    display: flex;
    gap: 20px;
    flex-direction: column;
    container: fill;
  }
  /* ====== link blocks ====== */
  .block--link{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== text blocks ====== */
  .block--text{
    background-color: var(--colour-light-bluegrey); 
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  .block--text p{
    color: var(--colour-grey);
    font-family: Mendl Sans;
    font-size: var(--blockquote);
    line-height: var(--blockquote-line-height);
    font-weight: 300;
    padding: 20px;
  }
  /* ====== image blocks ====== */
  .block--image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== pdf blocks ====== */
  .block--pdf{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== uploaded audio blocks ====== */
  .block--audio{
    background-color: red;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== linked video blocks ====== */
  .block--videolinked{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== linked audio blocks ====== */
  .block--audiolinked{
    background-color: red;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 16px;
    margin-top: 180px;
  }
}

/* ================================== desktop media query ================================== */
@media (min-width: 1024px) {
  /* ========== type variables ========== */
  :root {
    --h1: 80px;
    --h1-line-height: 80px;
    --h2: 28px;
    --h2-line-height: 40px;
    --h3: 20px;
    --h3-line-height: 24px;
    --h4: 36px;
    --h4-line-height: 48px;
    --blockquote: 28px;
    --blockquote-line-height: 34px;
    --p: 20px;
    --p-line-height: 28px;
     --a: 20px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
   /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 8px;
  }
  .options{
    padding: 40px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 6 / span 8; 
    grid-row: 1 / span 6;
    width: 33vw;
  }
  .collab-text-position {
    grid-column: 3 / span 5; 
    grid-row: 5;
  }
  #channel-description {
    grid-column: 3 / span 6; 
    grid-row: 6;
  }
  /* ========== archive section ========== */
  .archive-section{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    justify-content: right;
    padding: 12px;
    border: solid 1px;
  }
  .horizontal-line {
    border: solid 0.5px var(--colour-blue);
    width: 45px;
  }
  .square {
    width: 24px; 
    height: 24px;
  }
  /* =============== block styling =============== */
  ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
    list-style: none;
  }
  li{
    grid-column: span 4; 
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  .block{
    display: flex;
    gap: 20px;
    flex-direction: column;
    container: fill;
  }
  /* ====== link blocks ====== */
  .block--link{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  .block--text{
    background-color: var(--colour-light-bluegrey); 
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  .block--text p{
    color: var(--colour-grey);
    font-family: Mendl Sans;
    font-size: var(--blockquote);
    line-height: var(--blockquote-line-height);
    font-weight: 300;
    padding: 24px;
  }
  /* ====== image blocks ====== */
  .block--image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== pdf blocks ====== */
  .block--pdf{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== uploaded audio blocks ====== */
  .block--audio{
    background-color: red;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== linked video blocks ====== */
  .block--videolinked{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== linked audio blocks ====== */
  .block--audiolinked{
    background-color: red;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
  }
  /* ====== curator info ====== */
  .block-curator{
    width: 250px;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 20px;
    margin-top: 240px;
  }
}

/* trying to style buttons */
.block--image__description{
  display: none;
  position: fixed;
}

.block--image:active .block--image__description{
  display: block;

}

/* ––––––– player animation ––––––– */
.player{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  height: 100%;
}
.playerblock{
  background-color: var(--colour-grey);
  border: solid 1px var(--colour-blue);
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 5px;
}
.nowplaying{
  color: var(--colour-beige);
  font-weight: 300;
}
h5{
  color: var(--colour-beige);
  font-family: "Mendl Sans";
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
/* ––––––– soundwave animation ––––––– */
.soundwave{
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.soundwave::before{
  content: 'aaaaaaaaaaaaa';
  position: absolute;
  top: -46px;
  left: 0;
  color: transparent;
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: var(--colour-blue);
  text-decoration-line: underline;
  animation: animate 1s linear infinite;
}
@keyframes animate 
{
  0%{
    transform: translateX(-1px);
  }
  100%{
    transform: translateX(-57px);
  }
}