@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    scroll-behavior: smooth;
}

/* colour variables */
:root {
    --colour-black:#121111;
    --colour-blue:#539FB0;
    --colour-beige:#F9F5EE;

}

/* text variables */
:root {
    --h1: 74px;
    --h1-line-height: 72px;
    --h2: 32px;
    --h2-line-height: 40px;
    --h3: 32px;
    --h3-line-height: 40px;
    --blockquote: 18px;
    --blockquote-line-height: 26px;
    --p: 16px;
    --p-line-height: 20px;
    --a: 16px;
    --a-line-height: 18px;
}

/* spacing variables */
:root {
    --spacing: 2em;
}

body {
    background-color: var(--colour-beige);
    gap: var(--spacing);
    margin: 20px;
}

/* font styling */
h1{
    font-family: Mendl Sans;
    font-size: var(--h1);
    line-height: var(--h1-line-height);
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}

h2{

}

h3{
    
}

figcaption{

}

p{
    color: var(--colour-black);
    font-family: "Open Sans";
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: var(--p-line-height);
}

a{
    color: var(--colour-blue);
    font-family: "Open Sans";
    font-size: var(--a);
    font-style: normal;
    font-weight: 500;
    line-height: var(--a-line-height);
}

/* nav styling */
nav {
    color: var(--colour-blue);
    position: fixed;
}

/* tablet media query */
@media (min-width: 640px) {
    }

/* desktop media query */
@media (min-width: 1280px) {
}

