@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
  scroll-behavior: smooth;
}

/* ==========colour variables ========== */
:root {
  --colour-black:#121111;
  --colour-blue:#539FB0;
  --colour-beige:#F9F5EE;
  --colour-grey: #423F3F;
  --colour-light-bluegrey: #A4BEC2;
}

/* ========== text variables ========== */
:root {
  --h1: 70px;
  --h1-line-height: 72px;
  --h2: 28px;
  --h2-line-height: 32px;
  /* --h3: 32px;
  --h3-line-height: 40px; */
  --h4: 28px;
  --h4-line-height: 32px;
  --blockquote: 20px;
  --blockquote-line-height: 24px;
  --p: 16px;
  --p-line-height: 24px;
  --a: 16px;
  --a-line-height: 20px;
  /* --figcaption: 18px;
  --figcaption-line-height:20px; */
}

/* ========== spacing variables ========== */
:root {
  --spacing: 1em;
}

/* ========== type styling ========== */
h1{
  font-family: "Mendl Sans";
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--colour-blue);
  text-align: center;
}
h2{
  color: var(--colour-grey);
  font-family: "Mendl Sans";
  font-size: var(--h2);
  font-weight: 500;
  line-height: var(--h2-line-height);
}
/* h3{
  color: var(--colour-blue);
  font-family: "Work Sans";
  font-size: var(--figcaption);
  font-weight: 500;
  line-height: var(--figcaption-line-height);
  margin-top: var(--spacing);
} */
h4{
  color: var(--colour-grey);
  font-family: "Mendl Sans";
  font-size: var(--h4);
  font-weight: 300;
  line-height: var(--h4-line-height);
}
/* figcaption{
  color: var(--colour-blue);
  font-family: "Work Sans";
  font-size: var(--figcaption);
  font-weight: 500;
  line-height: var(--figcaption-line-height);
  margin-top: var(--spacing);
} */
p{
  color: var(--colour-black);
  font-family: "Work Sans";
  font-size: var(--p);
  font-weight: 400;
  line-height: var(--p-line-height);
  margin-top: var(--spacing);
}
a{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--a);
  font-weight: 400;
  line-height: var(--a-line-height);
}
a:hover{
  color: var(--colour-blue);
  font-weight: 600;
}
a:active{
  color: var(--colour-blue);
}

/* 🚨 hiding channel title api for the purpose to show styling choices 🚨 */
#channel-title{
  display: none;
}

/* 🚨 having trouble with this as api pulls it in as p tag 🚨 */
/* blockquote{
  font-family: Mendl Sans;
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
  margin-top: 144px;
} */

/* ========== structure styling ========== */
body {
  background-color: var(--colour-beige);
  gap: var(--spacing);
  margin: 20px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ========== nav styling ========== */
nav {
  color: var(--colour-blue);
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
/* ========== intro section ========== */
.intro-section{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.intro-image {
  opacity: 50%;
  grid-column: 1 / span 4; 
  grid-row: 1;
  max-width: 75vw;
}
.collab-text-position {
  grid-column: 3 / span 4; 
  grid-row: 1;
  z-index: 1; 
}
#channel-description {
  margin-top: 100px;
  grid-column: 1 / span 4; 
  grid-row: 2;
}
/* ========== archive section ========== */
.archive-section{
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: solid 1px var(--colour-blue);
}
.horizontal-line {
  border: solid 0.5px var(--colour-blue);
  width: 60px;
}
.square {
  width: 20px; 
  height: 20px;
  background-color: var(--colour-light-bluegrey); 
}
.archive-title{
  text-align: center;
}
/* ========== block styling ========== */
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
}
li{
  grid-column: 1 / span 4; 
}
/* ========== hide channel count ========== */
#channel-count{
  display: none;
}
/* ========== footer ========== */
footer{
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: solid 1px var(--colour-blue);
  padding-top: 12px;
}

/* ================================== tablet media query ================================== */
@media (min-width: 640px) {
  /* ========== type variables ========== */
  :root {
    --h1: 64px;
    --h1-line-height: 64px;
    --h2: 32px;
    --h2-line-height: 34px;
    /* --h3: 32px;
    --h3-line-height: 40px; */
    --h4: 28px;
    --h4-line-height: 33px;
    --p: 16px;
    --p-line-height: 24px;
    --a: 16px;
    --a-line-height: 20px;
    /* --figcaption: 18px;
    --figcaption-line-height:20px; */
  }
  /* ========== structure styling ========== */
  body {
    margin: 32px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  .options{
    padding: 32px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 5 / span 4; 
    grid-row: 1 / span 4;
    max-width: 45vw;
  }
  .collab-text-position {
    grid-column: 2 / span 8; 
    grid-row: 4;
    max-width: 62vw;
  }
  #channel-description {
    grid-column: 2 / span 5; 
    grid-row: 4;
  }
  /* ========== archive section ========== */
  .archive-section{
    margin-top: 140px;
    gap: 12px;
    justify-content: left;
  }
  .horizontal-line {
    border: solid 0.5px var(--colour-blue);
    width: 30px;
  }
  /* ========== block styling ========== */
  ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 60px;
  }
  li{
    grid-column: 1 / span 4; 
  }
  li:nth-child(2n) {
    grid-column: 5 / span 4;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 16px;
  }
}

/* ================================== desktop media query ================================== */
@media (min-width: 1280px) {
  /* ========== type variables ========== */
  :root {
    --h1: 80px;
    --h1-line-height: 80px;
    --h2: 40px;
    --h2-line-height: 40px;
    /* --h3: 32px;
    --h3-line-height: 40px; */
    --h4: 36px;
    --h4-line-height: 48px;
    --p: 20px;
    --p-line-height: 28px;
     --a: 20px;
    --a-line-height: 20px;
    /* --figcaption: 18px;
    --figcaption-line-height:20px; */
  }
  /* ========== structure styling ========== */
  body {
    margin: 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
   /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  .options{
    padding: 40px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 6 / span 8; 
    grid-row: 1 / span 6;
    width: 33vw;
  }
  .collab-text-position {
    grid-column: 3 / span 5; 
    grid-row: 5;
  }
  #channel-description {
    grid-column: 3 / span 5; 
    grid-row: 6;
  }
  /* ========== archive section ========== */
  .archive-section{
    margin-top: 240px;
    justify-content: left;
  }
  .horizontal-line {
    border: solid 0.5px var(--colour-blue);
    width: 50px;
  }
  .square {
    width: 24px; 
    height: 24px;
  }
  /* ========== block styling ========== NOTE - how do I use child function so every third is included*/
  ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 60px;
  }
  li{
    grid-column: 1 / span 5;
  }
  li:nth-child(2n) {
    grid-column: 7 / span 5;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 20px;
  }
}

