@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/xlc2tas.css");

html{
  scroll-behavior: smooth;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎺</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* ==========colour variables ========== */
:root {
  --colour-black:#121111;
  --colour-blue:#539FB0;
  --colour-beige:#F9F5EE;
  --colour-grey: #423F3F;
  --colour-light-bluegrey: #A4BEC2;
}

/* ========== text variables ========== */
:root {
  --h1: 70px;
  --h1-line-height: 72px;
  --h2: 28px;
  --h2-line-height: 32px;
  --h3: 18px;
  --h3-line-height: 22px;
  --h4: 28px;
  --h4-line-height: 36px;
  --blockquote: 24px;
  --blockquote-line-height: 32px;
  --p: 16px;
  --p-line-height: 24px;
  --a: 16px;
  --a-line-height: 20px;
}

/* ========== spacing variables ========== */
:root {
  --spacing: 1em;
}

/* ========== type styling ========== */
h1{
  font-family: "mendl-sans-dusk";
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--colour-blue);
  text-align: center;
}
h2{
  color: var(--colour-grey);
  font-family: "mendl-sans-dusk";
  font-size: var(--h2);
  font-weight: 500;
  line-height: var(--h2-line-height);
}
h3{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--h3);
  font-weight: 400;
  line-height: var(--h3-line-height);
}
h4{
  color: var(--colour-grey);
  font-family: "mendl-sans-dusk";
  font-size: var(--h4);
  font-weight: 300;
  line-height: var(--h4-line-height);
}
h4:hover{
  color: var(--colour-blue);
  font-weight: 500;
  transition: all 0.1s linear;
}
h4:active{
  color: var(--colour-blue);
}
p{
  color: var(--colour-black);
  font-family: "Work Sans";
  font-size: var(--p);
  font-weight: 400;
  line-height: var(--p-line-height);
}
a{
  color: var(--colour-grey);
  font-family: "Work Sans";
  font-size: var(--a);
  font-weight: 400;
  line-height: var(--a-line-height);
  transition: all 0.1s linear;
}
a:hover{
  color: var(--colour-blue);
  font-weight: 600;
}
.bold{
  font-weight: 600;
}

/* 🚨 hiding channel title api for the purpose to show styling choices 🚨 */
#channel-title{
  display: none;
}

/* ========== structure styling ========== */
body {
  background-color: var(--colour-beige);
  gap: var(--spacing);
  margin: 20px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ========== nav styling ========== */
nav {
  color: var(--colour-blue);
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
}
/* ========== intro section ========== */
.intro-section{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.intro-image {
  opacity: 50%;
  grid-column: 1 / span 7; 
  grid-row: 1;
  transition: all 0.3s linear;
}
.intro-image:hover{
  transform: rotate(-15deg);
  scale: 1.05;
}
.collab-text-position {
  grid-column: 4 / span 5; 
  grid-row: 1;
  z-index: 1; 
}
.work-sans{
  font-family: 'Work Sans';
  font-weight: 400;
}
aside {
	transition: all 2s ease-in-out; 
	will-change: transform; 
  opacity: 0%;
}
aside.highlight { 
  opacity: 100%;
}
#channel-description {
  margin-top: 80px;
  grid-column: 1 / span 8; 
  grid-row: 2;
}
/* ========== hide channel count ========== */
#channel-count{
  display: none;
}
/* ========== footer ========== */
footer{
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: solid 1px var(--colour-blue);
  padding-top: 12px;
  margin-top: 120px;
}
/* ========== grey text class ========== */
.grey-text{
  color: var(--colour-grey);
}

/* ================================== tablet media query ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* ========== type variables ========== */
  :root {
    --h1: 64px;
    --h1-line-height: 64px;
    --h2: 32px;
    --h2-line-height: 34px;
    --h3: 18px;
    --h3-line-height: 22px;
    --h4: 28px;
    --h4-line-height: 36px;
    --blockquote: 28px;
    --blockquote-line-height: 34px;
    --p: 16px;
    --p-line-height: 24px;
    --a: 16px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 32px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 6px;
  }
  .options{
    padding: 32px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 5 / span 4; 
    grid-row: 1 / span 4;
    max-width: 45vw;
  }
  .collab-text-position {
    grid-column: 2 / span 8; 
    grid-row: 4;
    max-width: 62vw;
  }
  #channel-description {
    margin-top: 120px;
    grid-column: 2 / span 5; 
    grid-row: 4;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 16px;
    margin-top: 180px;
  }
}

/* ================================== desktop media query ================================== */
@media (min-width: 1024px) {
  /* ========== type variables ========== */
  :root {
    --h1: 80px;
    --h1-line-height: 80px;
    --h2: 40px;
    --h2-line-height: 40px;
    --h3: 20px;
    --h3-line-height: 24px;
    --h4: 32px;
    --h4-line-height: 42px;
    --blockquote: 32px;
    --blockquote-line-height: 38px;
    --p: 20px;
    --p-line-height: 28px;
     --a: 20px;
    --a-line-height: 20px;
  }
  /* ========== structure styling ========== */
  body {
    margin: 40px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
   /* ========== type styling ========== */
  h1{
    text-align: right;
  }
  /* ========== nav styling ========== */
  nav {
    gap: 8px;
  }
  .options{
    padding: 40px;
  }
  /* ========== intro section ========== */
  .intro-section{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .intro-image {
    opacity: 50%;
    grid-column: 6 / span 6; 
    grid-row: 1 / span 6;
  }
  .collab-text-position {
    grid-column: 2 / span 3; 
    grid-row: 5;
  }
  #channel-description {
    grid-column: 2 / span 6; 
    grid-row: 6;
  }
  /* ========== footer ========== */
  footer{
    padding-top: 20px;
    margin-top: 240px;
  }
}